$backgroundColor: #361949;
$playerXColor: #98DFEA;
$playerOColor: #07BEB8;
$resetButtonColor: #C1292E;
$resetButtonHoverColor: #e1484d;
$textColor: #ffffff;
$soundButtonHoverColor: #999999;
$fonts: 'Play',
sans-serif;
$mediumFontSize: 20px;
$smallFontSize: 16px;
$titleFontSize: 30px;
$textAlign: center;